<div class="layui-footer footer">
        <span class="fl">Powered by <a href="http://www.hisiphp.com?v=thinkphp5" target="_blank">HisiPHP</a> v1.0.4</span>
        <span class="fr"> © 2017-2018 <a href="http://www.hisiphp.com?v=thinkphp5" target="_blank">HisiPHP.COM</a> All Rights Reserved.</span>
    </div>
</div>
</body>
</html>
<script src="__STATIC__/layui/layui.js"></script>
<script>
    var ADMIN_PATH = "/hisiphp/admin.php", LAYUI_OFFSET = 0;
    layui.config({
        base: '__STATIC__/js/',
        version: '1.0.4'
    }).use('global');
</script>